.skills{
    padding-top: 2rem;
    margin-bottom: 5.5rem;
}

.skills__title{
    color: var(--texto-principal);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 2rem;
}

.skills__container{
    display: flex;
    justify-content: space-between;
    margin-left: 9.5rem;
    margin-right: 9.5rem;
}

.skill__cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    border-radius: 2px;
}

.skills__cards--icon{
    width: 35px;
    height: 35px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.skills__cards--title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-left: 16px;
}

@media screen and (max-width: 768px){
    .skills__container{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        flex-wrap: wrap;
    }

    .skill__cards{
        width: 224px;
        height: 118px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 375px){
    .skills{
        margin-bottom: 1rem;
    }


    .skills__container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        justify-content: space-around;
    }

    .skill__cards{
        width: 156px;
    }
}