.biografia{
    margin-right: 9.5rem;
    margin-left: 9.5rem;
}

.biografia__container{
    width: 100%;
    background-color: var(--background-celeste);
    padding: 4rem 0;
}

.biografia__title{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
    line-height: 1.5;
}

.biografia__text {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.biografia__firma{
    width: 140px;
    height: 52px;
    background: url(../../img/firma.png);
    margin-top: 16px;
}

@media screen and (max-width: 768px) {
    .biografia__container{
        padding: 2rem 0;
    }

    .biografia{
        margin-right: 2.5rem;
        margin-left: 1.5rem;
    }

    .biografia__title{
        font-size: 22px;
    }

    .biografia__text{
        font-size: 14px;
    }
}