:root{
    --texto-principal: #464646;
    --bakcground-claro: #EDEDED;
    --background-celeste: #EAF2FD;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--bakcground-claro);
}

.footer{
    text-align: center;
    width: 100%;
}

.footer__container--text{
    padding: 32px;
    background-color: #FFF;
}

.footer__text{
    font-weight: 500;
    color: var(--texto-principal);
}


.mensaje-error{
    display: block;
    color: #F00;
    margin-top: 10px;
}

.oculto{
    display: none;
}
/* Diseño responsive tablet */

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
}

/* Diseño responsive mobile */

@media screen and (max-width: 375px) {
    body{
        overflow-x: hidden;
    }
}

